$greyone: #F2F2F2;
$greytwo: #A5A5A5;
$greythree: #717171;
$greyfour: #3E3E3E;
$greyfive: #252525;
$mainfont: 'Raleway', sans-serif;
$accentfont: 'Sigmar One', cursive;

@mixin inputBox {
  border-radius: 5px;
  height: 40px;
  box-sizing: unset;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: $greyone;
  font-family: $mainfont;
  font-size: 20px;
  color: $greyfive;
  position: relative;
}

.mainContainer {

}

.topContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  background-color: $greyfour;
  color: #FFFFFF;
  align-items: center;

  .mainHeader {
    font-family: $accentfont;
    font-size: 50px;
    margin-top: 20px;
  }

  .todaysDate {
    margin-bottom: 5px;
  }

  #addListInput {
    @include inputBox;
    margin-bottom: 20px;
  }
}

.middleContainer {
  display: flex;
}

#list {
  display: flex;
}

.listBox {
  padding: 20px;
  background-color: #FFFFFF;
  box-shadow: 20px 20px 50px $greytwo;
  margin: 20px;
  flex-wrap: wrap;
}

.listTitle {
  font-family: $accentfont;
  font-size: 30px;
}

.taskBox {
  padding: 50px;

  font-family: $mainfont;
}
#addTaskInput {
  @include inputBox;
  font-family: $mainfont;
}
.btn {
  background-color: $greyone;
}

.clearButton {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 20px;

}